<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac>
    <modules>
      <!--<module type="Sitecore.Feature.Navigation.Modules.NavigationModule, Sitecore.Feature.Navigation"/>-->
      <module type="Sitecore.Feature.ContactFacets.Modules.ContactFacetModule, Sitecore.Feature.ContactFacets"/>
      <module type="Sitecore.Feature.Navigation.GlassDemo.Modules.AutofacModule, Sitecore.Feature.Navigation.GlassDemo"/>
    </modules>
  </autofac>
</configuration>
