<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.ContactFacets" description="Feature ContactFacets" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\contactfacets\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.ContactFacets.Templates" database="master" path="/sitecore/templates/Feature/ContactFacets" />
            <include name="Feature.ContactFacets.Renderings" database="master" path="/sitecore/layout/renderings/Feature/ContactFacets" />
            <include name="Feature.ContactFacets.Layouts" database="master" path="/sitecore/layout/layouts/Feature/ContactFacets" />
            <include name="Feature.ContactFacets.Media" database="master" path="/sitecore/media library/Feature/ContactFacets" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.ReverseHierarchyRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\feature\demo\roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="modules" pattern="^Feature ContactFacets .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>